.results-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .selected-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .category-item {
    background-color: #e0e0e0;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .book-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .book-item {
    display: flex;
    align-items: flex-start;
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .book-cover {
    width: 120px;
    height: auto;
    margin-right: 20px;
  }
  
  .book-details {
    flex: 1;
    text-align: left;
    display: flex;  
   flex-direction: column;
  }
  
  .book-details h3 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .book-details p {
    margin: 5px 0;
  }
  .book-details .pickup-button {
    margin-left: auto;  
    align-self: flex-end;  
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .book-details .pickup-button:hover {
    background-color: #0056b3;
  }